.container {
  height: 98vh;
  width: 100%;
}

.content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
  text-align: center;
  padding: 14px;
  margin: 0;
}

.item {
  text-align: center;
  display: inline;
  margin: 10px;
  padding: 14px;
}

.link {
  background-color: #545454;
  text-decoration: none;
  color: white;
  padding: 14px;
}

.active {
  background-color: #4caf50;
}
