.tabs {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 0;
}

.tab {
  margin: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: white;
}
a:hover:not(.active) {
  background-color: #111;
}
