.container {
  height: 100vh;
  margin: 100px;
}

.list {
  list-style: none;
  text-align: center;
}

.item {
  text-align: center;
  margin: 20px;
  padding: 0;
  display: inline;
}

.link {
  text-decoration: none;
}
