.container {
  height: 100vh;
  width: 100%;
}

.content {
  margin-top: 60px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 14px;
}

.radio {
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  margin-left: 10px;
}

.row {
  display: flex;
}

.box {
  width: 50%;
  text-align: center;
  margin: 10px;
  padding: 14px;
  border-radius: 5px;
  border-style: solid;
  border-color: #4a4a4a;
}

.question {
  font-weight: 700;
}

.count {
  color: #363636;
}

.voted {
  color: #4caf50;
  border-color: #4caf50;
}
